import React from "react";
// import PropTypes from "prop-types";

const {{typeName}}: React.FC<{{typeName}}Props> = ({}) => {
  return <div>{{typeName}}</div>;
};

{{typeName}}.displayName = "{{typeName}}";

{{typeName}}.propTypes = {};

export default {{typeName}};

export type {{typeName}}Props = {};
